.thumbnailContainer ul {
  /* grid-area: 1 / 2 / span 1 / span 1; */
  display: flex;

  /* width: 80%; */
  /* margin: auto; */
  border: 1px solid;
  margin-top: 3%;
  position: absolute;
  z-index: 5;
}

.thumbnailImages {
  height: 100px;
  width: 100px;
  object-fit: contain;
}
