.thumbnailContainer {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: px;
  z-index: 5;
  justify-content: center;
  pointer-events: auto;
}

.thumbnailContainer ul {
  background-color: white;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  margin-left: 40%;
  margin-right: 40%;
  padding: 25px;
  margin: 0;
  border: 5px solid orange;
  border-bottom: 0;
}

.thumbnailImages:hover {
  border: 5px solid orange;
}
.thumbnailImages {
  border-radius: 55px;
  height: 100px;
  width: 100px;
  object-fit: fill;
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {


.thumbnailContainer {
  width: 100%;              
  box-sizing: border-box;    
}

.thumbnailContainer ul {
  display: flex;
  flex-direction: row;
  overflow-x: auto;         
  padding: 20px;
  margin: 0;
  max-width: 60%;
  max-height: 60%;
  object-fit: cover;
}
}  